body {
  background: linear-gradient(-45deg, #28313b, #1c3d61, #9caec2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 100px;
  margin-top: 100px;
}
h5 {
  font-size: 40px;
  padding-bottom: 50px;
}
p {
  font-size: 30px;
  padding-bottom: 50px;
}
h1 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fa {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: #333;
  color: white;
}
.fa-envelope {
  background: #f44336;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* if screen is smaller than 600px make the image bigger */

@media screen and (max-width: 600px) {
  img {
    padding: 0;
    margin-top: 10px;
    width: 70px;
  }
}